
/* Begin Carousel - Responsive Styling */
.carousel-overlay {
	width: 60%;
	height: 55%;
	background-color: #FF6EB4;
	border: 1px solid #6E6E6E;
	position: absolute;
	bottom: 80px;
	right: 75px;
	opacity: 0.8;
}

	.carousel-overlay p {
		font-size: 2.5em;
		/*border: 1px solid blue;*/
		margin: 20px;
		font-weight: bolder;
		color: white;
		padding-top: 10%;
		line-height: 50px;
	}  

.carousel-large div a:hover img {
	opacity: 1.0;
}
